<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href='/css/forms.css'>
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <%-include('../includes/msgs.ejs') %>
    <form class="product-form" action='/signup' method="POST">
      <!-- Include csrf token:-->
      <input type="hidden" name="_csrf" value="<%= csrf_token %>">
      
      <label for="email">Email</label>
      <input class="<%= input_err_ids.find( id => id === 'email') ? 'invalid' : '' %>"
      type="email" id="email" name="email" >

      <label for="uname">Username</label>
      <input class="<%= input_err_ids.find( id => id === 'uname') ? 'invalid' : '' %>"
      type="text" id="uname" name="uname" >

      <label for="uimg">Profile Image</label>
      <input type="text" id="uimg" name="uimg" >

      <label for="pword">Password</label>
      <input class="<%= input_err_ids.find( id => id === 'pword') ? 'invalid' : '' %>"
      type="password" id="pword" name="pword">

      <label for="c_pword">Confirm Password</label>
      <input class="<%= input_err_ids.find( id => id === 'pword') ? 'invalid' : '' %>"
      type="password" id="c_pword" name="c_pword">
      
      <button type="submit">Signup!</button>
    </form>
  </main>

<%- include('../includes/end.ejs') %>