<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href='/css/forms.css'>
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <%- include('../includes/msgs.ejs') %>
    <form class="product-form" action='/admin/<% if(edit_mode){ %>edit<% }else{ %>add<% } %>-product' method="POST">
      <!-- Include csrf token:-->
      <input type="hidden" name="_csrf" value="<%= csrf_token %>">
      <label for="title">Title</label>
      <input  class="<%= input_err_ids.find( id => id === 'title') ? 'invalid' : '' %>"
       type="text" id="title" name="title"
       value="<% if(edit_mode || add_mode){ %><%= item.title %><% } %>">
      <label for="img_link">Image Link</label>
      <input  class="<%= input_err_ids.find( id => id === 'img_link') ? 'invalid' : '' %>"
       type="text" id="img_link" name="img_link"
      value="<% if(edit_mode || add_mode){ %><%= item.img_link %><% } %>">
      <label for="item_price">Price</label>
      <input class="<%= input_err_ids.find( id => id === 'item_price') ? 'invalid' : '' %>"
       type="number" id="item_price" name="item_price" step="0.01"
      value="<% if(edit_mode || add_mode){ %><%= item.price %><% } %>">
      <label for="item_desc">Description</label>
      <textarea class="<%= input_err_ids.find( id => id === 'item_desc') ? 'invalid' : '' %>"
         id="item_desc" name="item_desc"
       ><% if(edit_mode || add_mode){ %><%= item.desc %><% } %></textarea>

      <label for="item_stock">Stock</label>
      <input class="<%= input_err_ids.find( id => id === 'item_stock') ? 'invalid' : '' %>"
       type="number" id="item_stock" name="item_stock" step="1"
      value="<% if(edit_mode || add_mode){ %><%= item.stock %><% } %>">

     
      <% if(edit_mode || add_mode){%><input type="hidden" name="item_id" value="<%= item._id %>"><% }%>
      <button type="submit"><% if(edit_mode){%>Update<% }else{ %>Add<% } %> Prouduct</button>
    </form>
  </main>

<%- include('../includes/end.ejs') %>